@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

base styles
{
  margin: 0;
  font-family: "Quicksand";
  color: rgb(21, 20, 20);
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #918f8f;
}
.navbar h1 {
  color: #290390;
}

.navbar a:hover {
  color: #f1356d;
}
.content {
  margin: 40px auto;
  padding: 20px;
} 

/* movie previews / list */
#movies img, #movie img{
  width: 100%;
}

@media(min-width:960px){

  #movies .col-md-3 .well{
      height: 390px;
  }

  #movies .col-md-3 img{
      height: 240px;
  }
}

/* .movie-preview {
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
  }
  .movie-preview:hover {
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.movie-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.movie-preview a{
  text-decoration: none;
}
 */
